html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;

  background: #D5EEEB;

  display: flex;
  justify-content: center;
  align-items: center;
}

.clip {
  width: 545px;
  height: 320px;
}

.clip.with-bg .clip__content {
  margin-top: -76px;
}

.clip__content {
  display: flex;
  justify-content: center;
  flex-shrink: 0;

  width: 100%;
  height: 100%;

  position: relative;
  perspective: 1000px;
}

.clip__bg {
  position: absolute;
  left: 0;
  top: 0;
  margin: 76px 0 0 20px;
  width: 100%;
  height: 100%;
  background: url('bg.png') no-repeat center center / cover;
}

.clip__cube {
  width: 64px;
  height: 100px;
  margin: 55px 0 0 0;
  z-index: 1;
  
  animation: cube 1s infinite alternate
}

.clip__cube.small {
  width: 35px;
  height: 40px;
  margin: 110px;
}

.clip__circles {
  min-width: 545px;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: rotateX(60deg) translateY(-160px)
}

.pulse {
  stroke: #EB016E; 
  stroke-width: 5px;
  stroke-opacity: 1;
  fill: white;
  fill-opacity: 0;
  transform-origin: 50% 50%;
  animation-duration: 2.5s;
  animation-name: pulse;
  animation-iteration-count: infinite;
}

.pulse.medium {
  stroke-width: 3px;
  animation-duration: 2s;
  animation-name: pulse-medium;
}
.pulse.big {
  stroke-width: 2px;
  animation-duration: 1.5s;
  animation-name: pulse-big;
}

@keyframes pulse {
  from {
    stroke-opacity: 1;
    transform: scale(0.3);
  }
  to {
    stroke-opacity: 0;
    transform: scale(0.65);
  }
}

@keyframes pulse-medium {
  from {
    stroke-opacity: 1;
    transform: scale(0.25);
  }
  to {
    stroke-opacity: 0;
    transform: scale(1.5);
  }
}

@keyframes pulse-big {
  from {
    stroke-opacity: 1;
    transform: scale(0.25);
  }
  to {
    stroke-opacity: 0;
    transform: scale(2);
  }
}


@keyframes cube {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}